<launch>
  <!-- Arguments -->
  
  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="gui" default="true" />

  

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find devastator)/devastator_description/urdf/devastator_laser.urdf.xacro'"/>
  <param name="use_gui" value="$(arg gui)"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <!-- AMCL -->
  <include file="$(find devastator)/devastator_navigation/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find devastator)/devastator_navigation/launch/devastator_move_base.launch"/>
   
  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find devastator)/devastator_navigation/rviz/devastator_navigation.rviz"/>
  </group>
</launch>
